@charset "ISO-8859-1";
.--form {
    padding: 1%;
    font-size: 1rem;
    color: var(--main-font-color);
}

.--form-button {
    background-color: var(--ternary-color);
    color: var(--ternary-font-color);
    outline: none;
    border: none;
}

.--form-control {
    font-size: 0.8em;
}