<div class='--login-container' fxLayout fxLayoutAlign="center center">
    <form [formGroup]="form" class="--login-form" fxLayout="column" fxFlex="80%" fxFlex.gt-sm="50%">
        <h2>Log in to the system</h2>
        <mat-form-field>
            <input matInput type="text" formControlName="username" required autocomplete="off" placeholder="Username" />
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" formControlName="password" required autocomplete="off"
                placeholder="Password" />
        </mat-form-field>
        <button mat-button class='btn --login-button' [disabled]="form.invalid" (click)="login(form)">
            Log in
        </button>
    </form>
</div>