<div class="--options-menu" fxLayout="row" fxLayoutAlign="space-between center">
    <h3>Reservations</h3>
    <mat-chip-list #selectedFiltersList fxLayout="row" fxLayout.lt-sm="column">
        <mat-chip *ngFor="let selectedFilter of selectedFilters" (removed)="removeFilter(selectedFilter)"
            class='--filter-tag'>
            {{selectedFilter}}
            <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip *ngFor="let availableFilter of availableFilters" class='--filter-tag-add'>
            {{availableFilter}}
            <mat-icon matChipRemove (click)="applyFilter(availableFilter)">check_circle</mat-icon>
        </mat-chip>
    </mat-chip-list>
</div>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 --reservations-table">
    <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>
    <ng-container matColumnDef="arrivalCityName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Arrival city</th>
        <td mat-cell *matCellDef="let element"> {{element.arrivalCityName}} </td>
    </ng-container>
    <ng-container matColumnDef="arrivalCountryName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Arrival country </th>
        <td mat-cell *matCellDef="let element"> {{element.arrivalCountryName}} </td>
    </ng-container>
    <ng-container matColumnDef="departureCityName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Departure city</th>
        <td mat-cell *matCellDef="let element"> {{element.departureCityName}} </td>
    </ng-container>
    <ng-container matColumnDef="departureCountryName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Departure country </th>
        <td mat-cell *matCellDef="let element"> {{element.departureCountryName}} </td>
    </ng-container>
    <ng-container matColumnDef="airportDateTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Airport date time</th>
        <td mat-cell *matCellDef="let element"> {{element.airportDateTime | date:'MMM d, y, H:mm'}} </td>
    </ng-container>
    <ng-container matColumnDef="createdOn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created on </th>
        <td mat-cell *matCellDef="let element"> {{element.createdOn | date:'MMM d, y, H:mm'}} </td>
    </ng-container>
    <ng-container matColumnDef="flightType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Flight type</th>
        <td mat-cell *matCellDef="let element"> {{element.flightType}} </td>
    </ng-container>
    <ng-container matColumnDef="see">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="showDetails(element)">
                <mat-icon>preview</mat-icon>
            </button>
        </td>
    </ng-container>
    <ng-container matColumnDef="confirm">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="confirm(element)" [disabled]='element.status!=="New"'>
                <mat-icon>thumb_up_alt</mat-icon>
            </button>
        </td>
    </ng-container>
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="cancel(element)" [disabled]='element.status!=="New"'>
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>