<div class="--options-menu" fxLayout="row" fxLayoutAlign="space-between center">
    <h3>Messages</h3>
    <div fxLayout="row" fxLayoutAlign="flex-end center">
        <div fxLayout="row">
            <mat-icon>search</mat-icon>
            <input matInput [(ngModel)]="dataSource.filter" type="search" autocomplete="off" placeholder="Search text..."
                class="--search-input">
        </div>
        <mat-chip-list #selectedFiltersList fxLayout="row" fxLayout.lt-sm="column">
            <mat-chip *ngFor="let selectedFilter of selectedFilters" (removed)="removeFilter(selectedFilter)"
                class='--filter-tag'>
                {{selectedFilter}}
                <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <mat-chip *ngFor="let availableFilter of availableFilters" class='--filter-tag-add'>
                {{availableFilter}}
                <mat-icon matChipRemove (click)="applyFilter(availableFilter)">check_circle</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </div>
</div>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 --messages-table">
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
        <td mat-cell *matCellDef="let element"> {{element.email}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}}  </td>
    </ng-container>
    <ng-container matColumnDef="text">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Text </th>
        <td mat-cell *matCellDef="let element" class="--part-text"> {{element.text}} </td>
    </ng-container>
    <ng-container matColumnDef="see">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="showDetails(element)">
                <mat-icon>preview</mat-icon>
            </button>
        </td>
    </ng-container>
    <ng-container matColumnDef="reply">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="reply(element)">
                <mat-icon>reply</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>