<div class='--flight-form-container' fxLayout="column" fxLayoutAlign="center center">
    <form [formGroup]="form">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
            <mat-form-field class="--input-control">
                <mat-label>Departure country</mat-label>
                <mat-select formControlName="departureCountry" required (selectionChange)="loadDepartureCities($event)">
                    <mat-option *ngFor="let departureCountry of countries" [value]="departureCountry">
                        {{departureCountry.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="--input-control">
                <mat-label>Departure city</mat-label>
                <mat-select formControlName="departureCity" required>
                    <mat-option *ngFor="let departureCity of departureCities" [value]="departureCity.cityId">
                        {{departureCity.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
            <mat-form-field class="--input-control">
                <mat-label>Arrival country</mat-label>
                <mat-select formControlName="arrivalCountry" required (selectionChange)="loadArrivalCities($event)">
                    <mat-option *ngFor="let arrivalCountry of countries" [value]="arrivalCountry">
                        {{arrivalCountry.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="--input-control">
                <mat-label>Arrival city</mat-label>
                <mat-select formControlName="arrivalCity" required>
                    <mat-option *ngFor="let arrivalCity of arrivalCities" [value]="arrivalCity.cityId">
                        {{arrivalCity.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <mat-form-field class="--input-control">
            <mat-label>Flight type</mat-label>
            <mat-select formControlName="flightType" required>
                <mat-option *ngFor="let flightType of flightTypes" [value]="flightType">
                    {{flightType}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngFor='let date of dates'>
            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between">
                <mat-form-field class="--input-control">
                    <input matInput [matDatepicker]="picker" placeholder="Airport date" formControlName="date"
                        (dateChange)="addDate($event)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="--input-control">
                    <input matInput placeholder="Time" required formControlName="time" autocomplete="off" />
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="row" class="--margin-top" fxLayoutAlign="flex-start">
            <button mat-button class="--cancel-button" (click)="close()">Cancel</button>
            <button mat-button class="--save-button" [disabled]="form.invalid" type="submit"
                (click)="save(form)">Save</button>
        </div>
    </form>
</div>