@charset "ISO-8859-1";
.--featured-fligths {
    background-color: var(--ternary-color);
    color: var(--ternary-font-color);
    font-size: 1.2em;
    height: 40vh;
    text-align:center;
}

.--featured-flight-caption{
	margin: 0;
	padding: 0;
}