@charset "ISO-8859-1";
.--index-container {
    background-image: url('../images/airport.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
    height:auto;
    background-position-x: center;
    background-position-y: center;
    padding-top: 10vh;
    overflow-y: auto;
}

.--flight-title {
    background-color: var(--quat-color);
    color: var(--quat-font-color);
    padding: 0;
    margin: 0;
}

.--flight-title>img {
    max-height: 2em;
    width: auto;
}