@charset "ISO-8859-1";
.--register-form {
    padding: 5%;
    font-size: 1rem;
    color: var(--main-font-color);
}

.--register-cite {
    color: var(--main-font-color);
    font-size: 1.2em;
    margin-bottom: 2em;
}

.--register-button {
    background-color: var(--ternary-color);
    color: var(--ternary-font-color);
    outline: none;
    border: none;
}

.--register-control {
    font-size: 0.8em;
}