@charset "ISO-8859-1";
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #6c6783;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #a9c2dd;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #a9c2dd;
}